Order Deny,Allow
Deny from all
Allow from localhost
Allow from 127.0.0.1

<Files "chatbot.php">
    Order Allow,Deny
    Allow from all
    
    # Solo permitir peticiones POST
    <LimitExcept POST>
        Deny from all
    </LimitExcept>
</Files>
